body{
    font-family: 'Fredoka', sans-serif;
}

#adminContainer{
    margin-top: 15vw;
}

.userAdminContainer{
    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: white;
    border-radius: 2rem;

    width: fit-content;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.25rem;
}

.userAdmin{
    font-size: large;
    color: rgb(121, 167, 218);
}

.deleteUserButton{
    padding: 0.5rem;
    background-color: tomato;
    margin-left: 1rem;
    border-radius: 2rem;

    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: medium;

    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    transition: 0.3s;
    cursor: pointer;
}

.deleteUserButton:hover{
    transform: scale(1.05);
}

.makeAdminButton{
    padding: 0.5rem;
    background-color: rgb(101,90,225);
    margin-left: 1rem;
    border-radius: 2rem;

    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: medium;

    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    transition: 0.3s;
    cursor: pointer;
}

.makeAdminButton:hover{
    transform: scale(1.05);
}