
body {
    font-family: Arial, serif;
    color: slateblue;
}

#headerContainer {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
}

#headerContainer h1{
    float: left;
}

#headerContainer button {
    float: right;
    width: 35px;
    height: 30px;
    color: blue;
    margin-left: 65vw;
    margin-top: 2.4vw;
}

#uiContainer {
    color: lightcoral;
    display: flex;

    background: rgba(200, 0, 0, 0.1);
}

.timer{
    margin-left: 20vw;

}
.score{
    margin-left: 10vw;

}
.level{
    margin-left: 15vw;
}

#game{
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2vw;
}

.cardsRow{
    flex: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.backCard{
    min-height: 16vh;
    width: auto;
    min-width: 12vh;
    max-width: 12vh;
    padding: 1vh;
    /*
    Pentru smaller screen width o sa trebuiasca schimbate, sa fie mai mici
    Ar trebui de fapt chiar niste calcule facute in functie de cate carti vrei sa pui etc
    */

    margin: 0px;

    perspective: 600px;

    filter: drop-shadow(-0.15vh 0.15vh 1vh rgba(55, 50, 156, 100));

    
}

.backgroundImage{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

    transition: 1s;
}

.card_face--front {
    transform: rotateY( 180deg );
}

.card.is-flipped {
    transform: rotateY(180deg);
}

