body {
    font-family: Arial, serif;
    font-family: 'Fredoka', sans-serif;
    overflow: visible;
    font-size: 1vw;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#headerContainer {
    position: relative;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    width: 100%;

    justify-content: center;
    align-items: center;
}

#headerContainer h1{
    float: left;
    color: rgb(121,167,218);
    font-size: 4vw;
    max-height: 8vh;

}

#headerContainer button {
    float: right;
    width: 35px;
    height: 30px;
    color: rgb(121,167,218);
    margin-left: 50vw;
}

#logo{
    width: 5vw;
    height: 5vw;
}

#bar{
    width: 100%;
    position: relative;
    left: 0px;
    top: -20px;
}

.backgroundImage{
    top: 0; 
    left: 0; 
    z-index: -1;
    min-height: 100%;
    position: fixed;
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#slideShow{
    background: transparent;
    position: relative;
    align-self: center;
    display: inline-block;
    background-image: url("../media/decoration3.png");
    background-size: 90%;
    background-repeat: no-repeat;
    align-content: center;
    background-position: 0%;
    background-size: cover;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    width: 22.5vw;
    height: 23.4vw;
    margin-top: 3%;

    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

#learnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    background-color: white;
    border-radius: 2vw;
    align-self:center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 20vw;
    margin-bottom: 300px;
    width: 70%;
}

#containerTitle{
    width: 30%;
    float: left;
}

#containerTitle p{
    margin: 5%;
    background-color: #645be1;
    padding: 0.5vw;
    border-radius: 0.7vw;
    font-size: 2rem;
}
/*
#leftArrow{
    background-color: transparent;
    border: 0px;
    display: flex;
    align-content: center;
    position: relative;
    flex-direction: row;
    top: 50%;
}*/

#fruitCard{
    width: 300px;
    display: block;
    position: relative;
    width: 11.25vw;
}

#leftArrow{
    background-color: transparent;
    border: 0px;
    /*display:block;
    float: left;
    left: 0;
    margin-top: 25%;
    size-adjust: 2vw;*/
}

#rightArrow{
    background-color: transparent;
    border: 0px;
    /*display: flexbox;
    float: left;
    margin-top: 25%;*/
}

.paragraph{
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    left: 0;
    float: left;
}

.cardArrow{
    width: 3vw;
}

#searchContainer{
    font-size: 2rem;
    width: 50%;
    float: right;
}

#searchFruit{
    border-radius: 0.5vw;
    border: 0.1vw solid black;
    background: transparent;
}

#searchFruit:hover{
    background-color: #645be1;
}

#searchFruit img, input, label{
    vertical-align:middle;
}