body {
    font-family: Arial, serif;
    font-family: 'Fredoka', sans-serif;
    overflow: visible;
    font-size: 1vw;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#headerContainer {
    position: relative;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    width: 100%;

    justify-content: center;
    align-items: center;
}

#headerContainer h1{
    float: left;
    color: rgb(121,167,218);
    font-size: 4vw;
    max-height: 8vh;

}

#headerContainer button {
    float: right;
    width: 35px;
    height: 30px;
    color: rgb(121,167,218);
    margin-left: 50vw;
}

#logo{
    width: 5vw;
    height: 5vw;
}

#bar{
    width: 100%;
    position: relative;
    left: 0px;
    top: -20px;
}

.backgroundImage{
    top: 0; 
    left: 0; 
    z-index: -1;
    min-height: 100%;
    position: fixed;
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#allcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upperContainer{
    display: flex;
    flex-direction: column;
}

#container{
    background-color: white;
    border-radius: 2vw;
    align-self:center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 15vw;
    margin-bottom: 2vw;
    width: 30%;

    padding: 2rem;
}

#containerTitle{
    float: left;
}

#formContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#formContainer button {
    background-color: rgb(121, 167, 218);
    border-radius: 2rem;
    height: 2.5rem;
    outline: none;
    border-style: solid;
    border-color: rgb(121, 167, 218);
    border-width: 3px;

    transition: 0.3s;
    font-size: medium;

    font-family: 'Fredoka', sans-serif;
    color: white;
    padding-left: 0.5rem;

    box-shadow: -1vh 1vh 2vh rgba(0, 0, 0, 0.4);

    cursor: pointer;

    width: 12rem;

    margin-bottom: 1rem;
}

#formContainer button:hover{
    transform: scale(1.05);
    background-color: white;
    color: rgb(121, 167, 218);
}

#formContainer input {
    background-color: white;
    border-radius: 2rem;
    height: 2rem;
    outline: none;
    border-style: solid;
    border-color: rgb(121, 167, 218);
    border-width: 3px;

    transition: 0.3s;
    font-size: medium;

    font-family: 'Fredoka', sans-serif;
    color: rgb(121, 167, 218);
    padding-left: 0.5rem;

    box-shadow: -1vh 1vh 2vh rgba(0, 0, 0, 0.4);
}

#formContainer label{
    color: rgb(121, 167, 218);
    font-size: medium;
}

#formContainer input:hover{
    transform: scale(1.05);
}

#errorMessage {
    color: #EE2C20;
}

#dontHaveTxt{
    font-size: medium;
    color: rgb(121, 167, 218);
    margin-bottom: 0.25rem;
}