body {
    font-family: Arial, serif;
    font-family: 'Fredoka', sans-serif;
    overflow: visible;
    font-size: 1vw;
}

.backgroundImage{
    top: 0; 
    left: 0; 
    z-index: -1;
    min-height: 100%;
    position: fixed;
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#allcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upperContainer{
    display: flex;
    flex-direction: column;
}

#container{
    background-color: white;
    border-radius: 2vw;
    align-self:center;
    flex-direction: row;
    display: block;
    justify-content: center;
    margin-top: 20vw;
    margin-bottom: 2vw;
    width: 90%;
    align-self: center;
    padding: 50px;
}

#containerAttempts{
    background-color: white;
    border-radius: 2vw;
    align-self:center;
    flex-direction: row;
    display: block;
    justify-content: center;
    margin-top: 20vw;
    margin-bottom: 2vw;
    width: 90%;
    align-self: center;
    padding: 50px;
}

#containerTitle{
    float: left;
}

#formContainer{
    display: flex;
    justify-content: center;
    /*flex-direction: column;
    align-items: center; */
}

#formContainerAttempts{
    display: flex;
    justify-content: center;
    /*flex-direction: column;
    align-items: center; */
}

#changeDifficulty {

    width: 20%;
    height: 4vh;
    margin-bottom: 2.5vh;
    border: hidden;
    border-radius: 4vh;
    box-shadow: -1vh 1vh 2vh rgba(0, 0, 0, 0.4);

    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(121, 167, 218);
    font-family: 'Fredoka', sans-serif;

    cursor: pointer;
}

.field {
    display: inline;
    padding: 50px;
}

#allcontainer button {
    transform: translateX(2vw);

    margin-top: 2.5vh;
    margin-right: 5vw;
    padding: 1vw;
    border: hidden;
    border-radius: 4vh;
    box-shadow: -1vh 1vh 2vh rgba(0, 0, 0, 0.4);

    font-size: 2.3vw;
    font-weight: bold;
    color: rgb(121, 167, 218);
    font-family: 'Fredoka', sans-serif;

    cursor: pointer;
}

#profileContainer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameDataContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 2rem;
    background-color: white;

    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    filter: drop-shadow(-10px 10px 20px #090934);

    margin-bottom: 1rem;

}

.highscoreDecorationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
    align-items: center;
    justify-content: center;
}

.decorationImg{
    width: 4rem;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: rgb(101,90,225);
    margin-left: 1rem;
    border-radius: 2rem;
    align-items: center;
}

.infoText{
    color: white;
    font-size: large;
    margin-left: 1rem;
    margin-right: 1rem;
}

.indexGameData{
    position: absolute;
    color: white
}

.infoImg{
    width: 2.5rem;
}

#msgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 2rem;
    transform: translateX(-2rem);

    filter: drop-shadow(-10px 10px 20px #090934);
}

#msgContainerSmaller{
    display: flex;
    flex-direction: row;
    background-color: rgb(101,90,225);
    border-radius: 2rem;

    padding: 0.5rem;
    padding-left: 3rem;
}

.msgTxt{
    font-size: large;
    color: white;
}

#txtMsgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#msgBeginImg{
    height: 7rem;
    transform: translateX(4rem);
    filter: drop-shadow(-5px 5px 20px #090934);
}
#msgEndImg{
    height: 7rem;
}

#msgContainer button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: pointer;
}

#msgContainer button>img{
    height: 4rem;
}

#changeDifficultyButtonLeft{
    transform: translateX(5rem);
    margin-right: 1rem;
}
#changeDifficultyButtonLeft:hover{
    transform: translateX(5rem) scale(1.15);
}

#changeDifficultyButtonRight{
    margin-left: 1rem;
}
#changeDifficultyButtonRight:hover{
    transform: scale(1.15);
}